.addBookToList {
    top:30%;
    background-color: #047e07 ;
    color: black;
    border:black;
    border-radius:10em;
    padding:5px;
    min-height:30px; 
    min-width: 250px;
    font-size: 15px;
}

.addBookToList:hover {
    background-color:#93d713;
    transition: 0.7s;
}

.addBookToList:active {
    background-color: #ffbf00;
}