.bookInfoButton {
    background: #a9a9a9;
    width: 40rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-block: 0.5rem; 
    font-size: 20px;
    text-align: center;
    border: 1px solid #a9a9a9;
}

.bookInfoButton:hover {
    background-color:#7c7e79;
    transition: 0.7s;
}

.bookInfoText {
    font-size: 30px;
    text-align: left;
}

.bookInfoReview {
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
}

.bookCountText {
    font-size: 20px;
    text-align: right;
    padding-bottom: 10px;
    width: 80rem;
}